.cont_footer{
    margin-top: 60px;
    height: 50vh;

    position: relative;
}

.linea_footer{
    width: 30vw;
    border-width: 3px;
    color: white;
}

.redes_footer{
    display: flex;
 
}

a{
    text-decoration: none;
}

#mapa{
    height: 20vh;
    width: 32vw;
    
}

.logo{
    width: 200px;
}

.logo2{
    width: 50px;

    position: absolute;
    top: 20px;
    left: 15px;
}


